@tailwind base;
@tailwind components;
@tailwind utilities;

.dmi {

    width: 100%;
    height: 100vh;
   
    scroll-snap-align: start;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}


p, button{
    font-family: 'Russo One', sans-serif;
}

.scroll-container {

    position: relative;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: y mandatory;

  }
  
.byd1 {
    background-image: url('https://image.made-in-china.com/44f3j00qeNonbGspvcM/Wholesale-Price-Byd-Song-Plus-Dm-I-1-5L-Flagship-Type-High-Performance-Seal-Dolphin-Seagull-Hybrid-New-Used-Car.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-size:  cover;
}

.byd2 {
    background-image: url('https://www.byd.com/content/dam/byd-site/uz/product/seal-u-ev/Section-4.1-pc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size:  cover;
}

.byd3 {
    background-image: url('https://www.byd.com/content/dam/byd-site/uz/product/chazor/section_3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size:  cover;
}

.byd4 {
    background-image: url('https://avcdn.av.by/journalarticlemainphoto/0002/3502/2948.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size:  cover;
}